<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-align-justify"></i> Customer List
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12 text-right">
              <button class="btn btn-sm btn-success" type="button" (click)="onUpdateStatus(staticConfig.STATUS_LIST.APPROVED,'Approved');" >Approve</button>&nbsp;
              <button class="btn btn-sm btn-danger" type="button" (click)="onUpdateStatus(staticConfig.STATUS_LIST.BLACKLISTED,'Blacklisted');" >Blacklist</button>&nbsp;
              <button class="btn btn-sm btn-primary" type="button" (click)="onClickView();" >Sample Customer View UI</button>&nbsp;
              <button class="btn btn-sm btn-primary" type="button" (click)="onClickViewDrivingInsights();" >Sample View customer driving insights UI</button>&nbsp;
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-body">
      <!--<app-data-grid></app-data-grid>-->
      <app-data-grid [gridOnChangeTime]="gridOnChangeTime" [gridEvent]="gridEvent" [gridConfig]="gridConfig" (onGridActionEvent)="onGridActionEvent($event)"></app-data-grid>
    </div>
  </div>
</div>
