<div class="animated fadeIn">
  <div class="card">
    <!--<div class="card-header">-->
      <!--<div class="row">-->
        <!--<div class="col-md-3">-->
          <!--<i class="fa fa-align-justify"></i> Config Accident Spots-->
        <!--</div>-->
        <!--<div class="col-md-9">-->
          <!--<div class="row">-->
            <!--<div class="col-md-12 text-right">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="card-body">
      <form role="form" #f="ngForm" (submit)="onSubmit(f)">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Location Name <span class="required-field" *ngIf="false">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder=""
                       [(ngModel)]="formData.location" name="location" #location="ngModel">
                <div *ngIf="location.invalid && (f.submitted || location.dirty || location.touched)" class="required-alert alert alert-danger">
                  <span *ngIf="location?.errors.required">This field is required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Longitude <span class="required-field" *ngIf="false">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder=""
                       [(ngModel)]="formData.longitude" name="longitude" #longitude="ngModel">
                <div *ngIf="longitude.invalid && (f.submitted || longitude.dirty || longitude.touched)" class="required-alert alert alert-danger">
                  <span *ngIf="longitude?.errors.required">This field is required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Latitude <span class="required-field" *ngIf="false">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder=""
                       [(ngModel)]="formData.latitude" name="latitude" #latitude="ngModel">
                <div *ngIf="latitude.invalid && (f.submitted || latitude.dirty || latitude.touched)" class="required-alert alert alert-danger">
                  <span *ngIf="latitude?.errors.required">This field is required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Accident Severity <span class="required-field" *ngIf="false">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder=""
                       [(ngModel)]="formData.accidentSeverity" name="accidentSeverity" #accidentSeverity="ngModel">
                <div *ngIf="accidentSeverity.invalid && (f.submitted || accidentSeverity.dirty || accidentSeverity.touched)" class="required-alert alert alert-danger">
                  <span *ngIf="accidentSeverity?.errors.required">This field is required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label">No of Accidents Reported <span class="required-field" *ngIf="false">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder=""
                       [(ngModel)]="formData.nofAccidentsReported" name="nofAccidentsReported" #nofAccidentsReported="ngModel">
                <div *ngIf="nofAccidentsReported.invalid && (f.submitted || nofAccidentsReported.dirty || nofAccidentsReported.touched)" class="required-alert alert alert-danger">
                  <span *ngIf="nofAccidentsReported?.errors.required">This field is required.</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i> Save
            </button>&nbsp;
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
