<div class="modal-header">
  <h4 class="modal-title pull-left">Customer Driving Insights</h4>

  <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal();">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="row" style="padding: 12px 0 0 0">
            <div class="col-md-6">
              <label>Average Speed</label>
            </div>
            <div class="col-md-6">
              <div class="btn-group">
                <label class="btn btn-info" [(ngModel)]="radioModel"
                       btnRadio="D" tabindex="0" role="button">Daily</label>
                <label class="btn btn-info" [(ngModel)]="radioModel"
                       btnRadio="M" tabindex="0" role="button">Monthly</label>
                <label class="btn btn-info" [(ngModel)]="radioModel"
                       btnRadio="Y" tabindex="0" role="button">Yearly</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding: 0;">
          <google-chart style="width: 100%;"
            [title]="''"
            [type]="'LineChart'"
            [data]="speedChart.data"
            [columnNames]="['X', 'Speed']"
            [options]="{pointSize: 5, legend: { position: 'top', maxLines: 3 }}"
            [height]="400">
          </google-chart>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="row" style="padding: 12px 0 0 0">
            <div class="col-md-6">
              <label>Mileage</label>
            </div>
            <div class="col-md-6">
              <div class="btn-group">
                <label class="btn btn-info" [(ngModel)]="radioModel"
                       btnRadio="D" tabindex="0" role="button">Daily</label>
                <label class="btn btn-info" [(ngModel)]="radioModel"
                       btnRadio="M" tabindex="0" role="button">Monthly</label>
                <label class="btn btn-info" [(ngModel)]="radioModel"
                       btnRadio="Y" tabindex="0" role="button">Yearly</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding: 0;">
          <google-chart style="width: 100%;"
            [title]="''"
            [type]="'ComboChart'"
            [data]="mileageChart.data"
            [columnNames]="['X', 'Mileage']"
            [options]="{pointSize: 5, seriesType: 'bars', legend: { position: 'top', maxLines: 3 }}"
            [height]="400">
          </google-chart>
        </div>
      </div>
    </div>
  </div>
</div>
