<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-align-justify"></i> Customer List
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12 text-right">

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-body">
      <!--<app-data-grid></app-data-grid>-->
      <app-data-grid [gridOnChangeTime]="gridOnChangeTime" [gridEvent]="gridEvent" [gridConfig]="gridConfig" (onGridActionEvent)="onGridActionEvent($event)"></app-data-grid>
    </div>
  </div>
</div>
