<footer class="app-footer">
  <span><a href="#" target="_blank">INSU-TRACKER</a> &copy; 2020  Insu-Tracker.</span>
  <span class="ml-auto">Powered by <a href="#" target="_blank">INSU-TRACKER</a></span>
</footer>
