<div class="modal-header">
  <h4 class="modal-title pull-left">Customer Profile</h4>

  <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal();">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <div class="row" *ngIf="action === 'view'">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <label>Customer Details</label>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">Customer Id : </div>
            <div class="col-md-8">0001</div>
          </div>
          <div class="row">
            <div class="col-md-4">Name : </div>
            <div class="col-md-8">zxc qwer</div>
          </div>
          <div class="row">
            <div class="col-md-4">Mobile No : </div>
            <div class="col-md-8">94 778877777</div>
          </div>
          <div class="row">
            <div class="col-md-4">Address : </div>
            <div class="col-md-8">No: 106, Second Floor, Bernard Business Park, Dutugemunu Street.</div>
          </div>
          <div class="row">
            <div class="col-md-4">Policy No : </div>
            <div class="col-md-8">WF 02558</div>
          </div>
          <div class="row">
            <div class="col-md-4">Premlum Amount : </div>
            <div class="col-md-8">Rs. 3000.25</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <label>Driving Score Details</label>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5">Today Score : </div>
                <div class="col-md-7">65</div>
              </div>
              <div class="row">
                <div class="col-md-5">Monthly Average Score : </div>
                <div class="col-md-7">72</div>
              </div>
              <div class="row">
                <div class="col-md-5">Eligeble Discount % : </div>
                <div class="col-md-7">18%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <label>Vehicle Details</label>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5">Vehicle Type : </div>
                <div class="col-md-7">Suzuki WagonR</div>
              </div>
              <div class="row">
                <div class="col-md-5">Registration Number : </div>
                <div class="col-md-7">WP CAR7845</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="action === 'add'">
    <form role="form" #f="ngForm" (submit)="onSubmit(f)">
      <div class="row">

      </div>

      <div class="row" style="padding-top: 5px;">
        <div class="col-md-12 text-right">
          <button type="submit"
                  class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit
          </button>&nbsp;
        </div>
      </div>
    </form>
  </div>
</div>
